body {
	font-family: 'Karla', sans-serif;
	background-color: #5e62d1;
}

.nav-item.active {
	color: #dbed83 !important;
}

#moto {
	font-size: 64px;
	color: #dbed83;
}

.carousel {
	margin-bottom: 30px !important;
	width: 75%;
	margin: auto;
}

#largeQuote {
	font-size: 36px;
	color: #dbed83;
	text-align: left;
}

.featuredProjects {
	padding: 30px 50px;
} 

#projectText1 {
	font-size: 16px;
}

#projectText2 {
	font-size: 16px;
}

#projectText3 {
	font-size: 16px;
}

.btn.btn-primary {
	color: black;
	align-content: center;
}

.socialMediaQ {
	font-size: 14px;
	color: white;
	text-align: left;
	bottom: 0;
}

.socialMedia {
	margin: 30px;
}

.socialMediaC {
	bottom: 0;
	background-color: #5e62d1;
}

.socialMediaLinks {
	font-size: 14px;
	color: lightgray;
	text-align: left;
}

.nav-link {
	color: #dbed83;
}

.projectListing {
	padding-bottom: 30px;
	margin-top: 15px;
}

.factText {
	color: black;
}

.factHeading {
	color: #dbed83;;
}

.mushroomFact {
	color: #5fecc8;
	font-size: 65px;
	padding-top: 38px;
} 

.largeTitle {
	font-size: 48px;
	color: #dbed83;
	text-align: left;
}

.role {
	font-size: 14px;
	color: white;
	text-align: left;
}

#Mann {
  border-radius: 50%;
}

#Rossi {
  border-radius: 50%;
}

.breadcrumb {
	background-color: #5e62d1 !important;
	color: white !important;
}

.title-row {
	margin-left: 30px;
}

.project2row {
	margin-top: 40px;
	margin-bottom: 40px;
}

.MDtext {
	background-color: #5fecc8;
	padding: 30px;
}
